@font-face {
  font-family: "Audio";
  src: url(assets/Audiowide-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(assets/RobotoCondensed-VariableFont_wght.ttf);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#page {
  background-image: url(assets/background.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.topBar {
  font-family: "Roboto";
  font-size: 2.5vh;
  background: #93F0F2;
  position: absolute;
  font-weight: bold;
  top: 0;
  left: 0;
  height: 8vh;
  width: 100%;
  display: flex;
  padding-top: 2vh;
}

.topBarText {
  margin-right: 2vh;
}

.infoIcon {
  padding: 2vh;
  width: 2vh;
  height: 2vh;
  background-image: url(assets/info.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-left: 2vh;
  margin-right: 2vh;
}

.logo2 {
  position: absolute;
  width: 70%;
  height: 30%;
  top: 70%;
  left: 15%;
  background-image: url(assets/logo.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.logo {
  position: absolute;
  width: 70%;
  height: 30%;
  top: 15%;
  left: 15%;
  background-image: url(assets/logo.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#doneButton {
  position: absolute;
  width: 50%;
  top: 60%;
  left: 25%;
}
#startButton {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 25%;
}

.button {
  font-family: "Audio";
  height: 7vh;
  line-height: 7vh;
  text-align: center;
  border-radius: 1vh;
  padding: 2px;
}

.buttonOn {
  background: white;
}

.buttonOff {
  background: linear-gradient(to bottom, #b7fdff 0%, #159395 100%);
}

.buttonOff .buttonText {
  color: #93F0F2;
  background: black;
}

.buttonOn .buttonText {
  color: black;
  background: linear-gradient(to bottom, #b7fdff 0%, #159395 100%);
}

#questionNumber {
  top: 12%;
  position: absolute;
  width: 100%;
  font-size: 3vh;
  height: 5%;
  color: #93F0F2;
  font-family: "Audio";
  text-transform: uppercase;
  text-align: center;
}

#question {
  top: 15%;
  position: absolute;
  width: 90%;
  left: 5%;
  font-size: 3vh;
  height: 5%;
  color: white;
  font-family: "Roboto";
  text-align: center;
}

#questionInput {
  width: 90%;
  height: 30%;
  position: absolute;
  top: 25%;
  left: 5%;
  background: linear-gradient(to bottom, #b7fdff 0%, #159395 100%);
  padding: 2px;
  border-radius: 1vh;
}

#questionInputInner {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(assets/background.png);
  background-size: 100vw 100vh;
  background-position: 75% 75%;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0.7);
  background-blend-mode: multiply;
  
  overflow: hidden;
}

#playerInput {
  margin: 5px;
  font-family: "Audio";
  background: transparent;
  border: 0;
  resize: none;
  outline: none;
  color: #93F0F2;
  font-size: 3vh;
  height: 90%;
}

#questionTimer {
  position: absolute;
  height: 10px;
  width: 100%;
  bottom: 0px;
  left: 0;
}

#voteTimer {
  position: absolute;
  height: 10px;
  width: 90%;
  bottom: 3%;
  left: 5%;
}

#answerTimer {
  position: absolute;
  height: 10px;
  width: 90%;
  bottom: 3%;
  left: 5%;
}

#voteButtons {
  position: absolute;
  width: 90%;
  height: 70%;
  top: 25%;
  left: 5%;
}

.voteButton {
  position: relative;
  margin-bottom: 2vh;
}

.voteButton .buttonText {
  text-align: left;
  padding-left: 10px;
  font-size: 2vh;
  line-height: 2vh;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 10%;
}

.voters {
  position: absolute;
  right: 10px;
  height: 5vh;
  bottom: 0.5vh;
}

.voter {
  height: 3vh;
  width: 3vh;
  margin-left: -2vh;
}

.timer {
  background: #004647;
}

.timerBar {
  width: 100%;
  height: 100%;
  background: #93F0F2;
}

#voteTitle {
  font-family: "Audio";
  width: 60%;
  left: 20%;
  text-align: center;;
  position: absolute;
  color: #93F0F2;
  text-transform: uppercase;
  top: 5%;
  font-size: 3.5vh;
}

#voteQuestion {
  font-family: "Roboto";
  color: white;
  width: 80%;
  left: 10%;
  position: absolute;
  top: 15%;
  font-size: 3vh;
  text-align: center;;
}

#correctAnswerLabel {
  font-family: "Audio";
  width: 90%;
  left: 5%;
  text-align: center;;
  position: absolute;
  color: #93F0F2;
  text-transform: uppercase;
  top: 20%;
  font-size: 2.5vh;
}

#correctAnswer {
  font-family: "Roboto";
  width: 90%;
  left: 5%;
  text-align: center;;
  position: absolute;
  color: white;
  top: 24%;
  font-size: 3.5vh;
  font-weight: bold;
  text-overflow: ellipsis;
}

#answerScreen .logo {
  top: 0;
  width: 45%;
  height: 20%;
  left: 25%;
}


#scores {
  font-size: 3.5vh;
  width: 90%;
  height: 55%;
  position: absolute;
  top: 35%;
  left: 5%;
  background: linear-gradient(to bottom, #b7fdff 0%, #159395 100%);
  padding: 2px;
  border-radius: 1vh;
}

#scoresInner {
  position: relative;
  width: 100%;
  height: calc(100% - 2vh);
  background-color: black;
  overflow: hidden;
  padding-top: 2vh;
}

.score {
  padding: 2vh;
  font-family: "Roboto";
  width: 100%;
  display: flex;
  height: 3vh;
  margin-top: 1vh;
}

.scoreName {
  color: white;
  width: 65%;
  text-overflow: ellipsis;
}

.scoreThisRound {
  color: #93F0F2;
  width: 10%;
  font-size: 2.5vh;
  transform: translate(0, 0.5vh);
}
.scoreTotal {
  color: white;
  width: 10%;

}

.scoreAvatar {
  width: 10vw;
  height: 10vw;
  margin-right: 2vw;
  transform: translate(0, -2vw);
}

.screen {
  opacity: 0
}

.enabled {
  opacity: 1;
  transition: opacity 1s ease-out;
}

.disabled {
  pointer-events: none;
  opacity: 0;
  transition: opacity 1s ease-out;
}

.off {
  pointer-events: none;
  opacity: 0;
}